obj
bin
.svn
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.Resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
/artifacts
/product/config/app.config.vista
/product/config/app.config.xp

