obj
bin
.svn
_[Rr]e[Ss]harper.solution/
*.[Rr]e[Ss]harper*
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
*.csproj.user
/artifacts
app.config.xp
app.config.vista
[Ww]eb.config
local_properties.rb
hibernate.cfg.xml
log4net.config.xml
